# folder packages: Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3,
# Microsoft.Net.Compilers.1.3.2,
# Newtonsoft.Json.11.0.2
packages/

# folders Bin and bin
[Bb]in/

# folder obj
obj/

# files
*.txt
*.log
*.suo




