.user_block,
.center_block,
.bot_block {
    border: 1px solid black;
}

.user_block,
.bot_block {
    padding-top: 20px;
}

.user_block__name,
.bot_block__name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.user_block__hp_scale,
.bot_block__hp_scale {
    position: relative;
    height: 10px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 0;
}

.user_block__hp_scale:after,
.bot_block__hp_scale:after {
        content: "";
        display: block;
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        border-radius: 5px;
        background-color: green;
        z-index: 1;
}

.user_block__hp,
.bot_block__hp {
    margin-bottom: 5px;
}

.center_block h3 {
    text-align: center;
}

.center_block__fight_info {
    margin: 0 auto;
}

.center_block__fight_info p {
    text-align: center;
}

.center_block__fight_info td:nth-child(even) {
    width: 10px;
}
